:root {
    --primary-white: rgb(245, 245, 247);
    --primary-link: rgb(41, 151, 255);
    --primary-text-color: rgb(29, 29, 31);
    --dark-grey: rgb(110, 110, 115);
    --light-grey: rgb(162, 162, 166);
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text-color);
    font-family: "SanFranciscoText-Regular", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/* Utilities */
sup {
    color: var(--primary-link);
    font-size: 9px;
}

a {
    color: var(--primary-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.two__links {
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.two__links a {
    text-decoration: none;
}

.two__links :nth-child(2) {
    margin-left: 27px;
}

.two__links a:hover {
    text-decoration: underline;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: rgba(22, 22, 22, .8);
    backdrop-filter: blur(6px);
    z-index: 3;
}

.navbar__flex {
    display: flex;
    gap: 30px;
    list-style: none;
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar__icon {
    fill: rgba(255, 255, 255, .8);
    cursor: pointer;
    overflow: none;
    padding: 0 8px;
}

.navbar__icon--logo {
    margin-right: auto;
}

.navbar__icon:hover {
    fill: rgb(255, 255, 255);
}

.navbar__desktop__item {
    display: none;
}

@media (min-width: 834px) {
    .navbar {
        height: 44px;
    }

    .navbar__flex {
        justify-content: space-between;
        padding: 0 22px;
        gap: 0;
        max-width: 996px;
    }

    .navbar__icon--logo {
        margin-right: 0;
    }

    .navbar__icon--hamburguer {
        display: none;
    }

    .navbar__desktop__item {
        display: flex;
        padding: 0 8px;
        white-space: nowrap;
    }

    .navbar__desktop__link {
        display: inline-block;
        text-decoration: none;
        align-self: center;
        color: rgba(232, 232, 232, 0.8);
        font-size: 12px;
        font-weight: 400;
    }

    .navbar__desktop__link:hover {
        color: rgb(232, 232, 232);
        text-decoration: none;
    }

    .navbar__icon {
        width: 14px;
    }
}

/* Hamburguer menu */

#hamb__button {
    display: none;
}

.hamb__menu {
    display: none;
    height: 0;
}

#hamb__button:checked~.hamb__menu {
    position: fixed;
    display: flex;
    height: 140vh;
    width: 100vw;
    left: 0;
    background-color: rgb(22, 22, 22);
}

.container {
    padding-top: 12px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
}

.hamb__menu__label {
    display: flex;
    justify-content: flex-end;
}

.hamb__menu__close {
    cursor: pointer;
    padding-right: 12px;
    width: 23px;
    color: rgb(175, 175, 175);
}

.hamb__menu__close:hover {
    color: rgb(214, 214, 214);
}

.hamb__menu__list {
    cursor: pointer;
    list-style: none;
    padding: 8px 0 30px 50px;
    color: #d7d7d7;
    font-size: 28px;
    font-weight: 600;
}

.hamb__menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.hamb__menu__item:hover {
    color: #f3f3f3;
}

.hamb__menu__item__svg {
    align-self: center;
    height: 0;
    transform: rotate(180deg);
    padding-left: 30px;
    fill: #d7d7d7;
}

.hamb__menu__item:hover svg {
    height: auto;
    color: #f3f3f3;
    overflow: none;
}

/* Announcement Section */

.announcement {
    margin-top: 48px;
}

.announcement__text {
    padding: 10px 10px;
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.47059;
}

@media (min-width: 735px) {
    .announcement__text {
        max-width: 730px;
        padding: 12px 0;
    }
}

/* Hero Section */

.hero {
    cursor: pointer;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 15px;
    margin-bottom: 12px;
}

.hero__background__video {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100vw;
    height: 352px;
    position: absolute;
    z-index: -1;
}

.hero__logo,
.hero__title,
.hero__description {
    align-self: center;
}

.hero__logo__img {
    height: 25px;
}

.hero__title__img {
    height: 41px;
}

.hero__description {
    margin-top: -7.5px;
}

.hero__description__img {
    height: 9px;
}

.hero__button {
    align-self: center;
    padding: 11px 19px;
    border-radius: 50px;
    display: inline-block;
    background-color: var(--primary-white);
    margin-bottom: 50px;
}

.hero__button__link {
    position: relative;
    font-size: 14px;
    top: -3px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (min-width: 735px) {
    .hero__logo__img {
        height: 39px;
    }

    .hero__title__img {
        height: 72px;
    }

    .hero__description__img {
        height: 16px;
    }

    .hero__button {
        padding: 14px 24px;
    }
}

@media (min-width: 1069px) {
    .hero {
        height: 692px;
    }

    .hero__background__video {
        height: 692px;
    }
}

/* Section iPhone14 Black & White styles */

.iphone14 {
    cursor: pointer;
    height: 500px;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 40%;
    margin-bottom: 10px;
}

.iphone14__head {
    font-size: 32px;
    font-weight: 600;
    padding-top: 40px;
    text-align: center;
}

.iphone14__head--white {
    color: var(--primary-white);
}

.iphone14__subHead {
    font-size: 19px;
    font-weight: 300;
    margin-top: 4px;
    text-align: center;
}

.iphone14__subHead--white {
    color: var(--primary-white);
}

.iphone14--black {
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_small_2x.jpg);
}

.iphone14--white {
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_small_2x.jpg);
}

@media (min-width: 735px) {
    .iphone14__head {
        font-size: 48px;
    }

    .iphone14__subHead {
        font-size: 24px;
    }

    .iphone14--black {
        background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_mediumtall_2x.jpg);
    }

    .iphone14--white {
        background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_mediumtall_2x.jpg);
    }
}

@media (min-width: 1069px) {
    .iphone14 {
        height: 692px;
    }

    .iphone14__head {
        font-size: 56px;
    }

    .iphone14__subHead {
        font-size: 28px;
    }

    .iphone14--black {
        background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg);
    }

    .iphone14--white {
        background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    }
}

/* Section Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 735px) {
    .gallery {
        flex-direction: row;
        gap: 10px;
    }
}

.gallery__card {
    cursor: pointer;
    background-size: 734px 548px;
    background-position-x: 50%;
    background-position-y: 20%;
    height: 500px;
    margin-bottom: 10px;
}

.gallery__card__img {
    height: 27px;
    padding-top: 40px;
    display: flex;
    margin: 0 auto;
}

.gallery__card__head {
    font-size: 19px;
    font-weight: 300;
    margin-top: 7px;
    text-align: center;
}

.gallery__card__link {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

.gallery__card__link:hover {
    text-decoration: underline;
}

@media (min-width: 735px) {
    .gallery__card {
        width: calc(50% - 15px);
        margin-bottom: 0px;
    }
}

@media (min-width: 1069px) {
    .gallery__card__img {
        padding-top: 80px;
    }

    .gallery__card {
        background-size: cover;
        height: 580px;
    }
}

/* Card1 */
.gallery__card--card1 {
    background-image: url(https://www.apple.com/v/home/ba/images/promos/iphone-tradein/iphone_tradein_promo__d5au3rkw5kuq_small_2x.jpg);
}

/* Card2 */
.gallery__card--card2 {
    background-image: url(https://www.apple.com/v/home/ba/images/promos/wwdc23-announce/promo_wwdc23_swift__b3fev54l3bci_small_2x.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position-y: 50%;
}

.gallery__card--card2__img {
    height: 32px;
    padding-top: 0;
}

.gallery__card--card2__head {
    padding-top: 9px;
    max-width: 290px;
    margin: 0 auto;
    color: var(--primary-white);
}

.gallery__card--card2__link {
    margin: 9px 0 30px 0;
}

/* Card3 */
.gallery__card--card3 {
    background-image: url(https://www.apple.com/v/home/ba/images/promos/apple-watch-pride/promo_pride23__cnpic94fthle_small_2x.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position-y: 50%;
}

.gallery__card--card3__img {
    height: 36px;
}

.gallery__card--card3__link {
    max-width: 220px;
    margin: 0 auto;
}

/* Card4 */

.gallery__card--card4 {
    background-image: url(https://www.apple.com/v/home/ba/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_small_2x.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position-y: 50%;
}

.gallery__card--card4__head {
    color: var(--primary-white);
    font-size: 32px;
    font-weight: 600;
    margin-top: 37px;
}

.gallery__card--card4__subHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.gallery__card--card4__subHead--title {
    font-size: 19px;
    font-weight: 400;
    color: var(--primary-white);
}

.gallery__card--card4__subHead--img {
    height: 33px;
    padding-top: 0;
    margin-left: 4px;
}

/* Card5 */

.gallery__card--card5 {
    background-image: url(https://www.apple.com/v/home/ba/images/promos/privacy/privacy__fzwalkil8paq_small_2x.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position-y: 50%;
}

.gallery__card--card5__head {
    margin-top: 37px;
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-white);
}

.gallery__card--card5__subHead {
    margin-top: 4px;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    color: var(--primary-white);
}

/* Card6 */

.gallery__card--card6 {
    background-image: url(https://www.apple.com/v/home/ba/images/promos/apple-card/tile__cauwwcyyn9hy_small_2x.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position-y: 50%;
}

.gallery__card--card6__img {
    height: 27px;
}

.gallery__card--card6__head {
    margin-top: 9px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

/* Cards responsive */

@media (min-width: 1069px) {
    .gallery__card__head {
        font-size: 40px;
    }

    .gallery__card__subHead {
        font-size: 21px;
    }

    .gallery__card__head--card1 {
        font-size: 21px;
    }

    .gallery__card__img--card1 {
        height: 32px;
    }

    .gallery__card--card2__head {
        font-size: 19px;
        max-width: 415px;
    }

    .gallery__card--card2__img {
        height: 39px;
    }

    .gallery__card__head--card3 {
        font-size: 21px;
    }

    .gallery__card--card6__img {
        height: 33px;
    }
}

/* Footer styles */

.footer {
    background-color: var(--primary-white);
    padding: 0 16px;
}

.footer__text {
    max-width: 1000px;
    margin: 0 auto;
}

.footer__item {
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    padding-top: 17px;
}

.footer__link {
    color: var(--dark-grey);
}

/* Mobile Nav-Footer styles */

.mob__footer__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
    gap: 0;
    min-height: 450px;
    z-index: 0;
}

.mob__footer__nav__dropdown {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    overflow: hidden;
}

.mob__footer__nav__dropdown__text {
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 400;
}

.mob__footer__nav__dropdown__button {
    width: 12px;
    margin-right: 8px;
    transform: rotate(45deg);
    transition: all 0.1s ease;
}

.mob__footer__nav__dropdown {
    cursor: pointer;
    border-top: 1px solid var(--light-grey);
}

.mob__footer__nav__sub-menu {
    max-height: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.mob__footer__nav__sub-menu__link:nth-child(1) {
    padding-top: 15px;
}

.mob__footer__nav__sub-menu__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: var(--dark-grey);
    overflow: hidden;
}

#dropdown {
    display: none;
}

.mob__footer__nav input[type="checkbox"] {
    display: none;
}

.mob__footer__nav input[type="checkbox"]:checked~.mob__footer__nav__dropdown svg {
    transform: rotate(0deg);
    transition: all 0.1s ease;
}

.mob__footer__nav input[type="checkbox"]:checked~.mob__footer__nav__sub-menu {
    display: flex;
    position: relative;
    z-index: 2;
    max-height: 600px;
}

.desk__footer__nav {
    display: none;
}

@media (min-width: 834px) {
    .mob__footer__nav {
        display: none;
    }

    /* Desktop Nav-Footer Styles */

    .desk__footer__nav {
        border-top: 1px solid var(--light-grey);
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        max-width: 1000px;
        height: 430px;
        margin: 0 auto;
        z-index: 0;
        backdrop-filter: none;
    }

    .desk__footer__nav__col {
        display: flex;
        flex-direction: column;
    }

    .desk__footer__nav__main {
        cursor: text;
        font-size: 12px;
        font-weight: 600;
        color: rgb(67, 67, 67);
        padding-top: 15px;
        margin-bottom: 10px;
    }

    .desk__footer__nav__sec {
        color: rgb(67, 67, 67);
        font-size: 12px;
        font-weight: 300;
        line-height: 25px;
    }

    .desk__footer__nav__main:hover {
        text-decoration: none;
    }
}


/* Bottom footer section */


.bottom__footer {
    max-width: 1000px;
    margin: 0 auto;
}

.bottom__footer__item {
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    padding-top: 17px;
}

.bottom__footer__item--last {
    margin-bottom: 10px;
}

.bottom__footer__link {
    color: var(--primary-link);
    text-decoration: underline;
}

.bottom__footer__legal {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-bottom: 40px;
}

.bottom__footer__item--legal {
    padding-right: 10px;
    padding-top: 0;
    border-right: 1px solid var(--dark-grey);
}

.bottom__footer__item--legal__last {
    border-right: none;
}